<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="Microsoft.Experimental.Azure.JavaPlatform" version="0.2.2-alpha" targetFramework="net45" />
  <package id="Microsoft.Experimental.Azure.Presto" version="0.2.1-alpha" targetFramework="net45" />
</packages>